
   <div class ="row">
    <div class = "col-xs-3">
    
    <div class="notice"><%= notice%></div>
    <h2>User info</h2>
    <div class="field row">
       <%= attachment_image_tag user,:profile_image,format: 'jpeg',fallback: "no_image.jpg", size: '100x100'%>
      <table class="table">
       <tbody>
      <tr>
       <th>name</th>
       <th><%= user.name%></th>
       </tr>
      </div>
       <tr>
       <th>introduction</th>
       <th><%= user.introduction %></th>
      </tr>
      </div>
      </tbody>
     </table>
       <%=link_to edit_user_path(current_user.id), class: "btn btn-default btn-block" do%>
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
       <% end %>
     </div>
 
   <h2>New book</h2>
    
     <%=  form_with model: @book,local:true do |f| %>    
    <div class="field row">
     <label for="book_title">Title</label>
       <br><%= f.text_field :title,class: "col-xs-12"%>
    </div>
  <div class="field row">
   <label for="book_opinion">Opinion</label>
       <br><%= f.text_area :body,class: "col-xs-12" %>
   </div>
   
   <div class="field row">
     <br><%= f.submit 'Create Book', class: "btn btn-primary  col-xs-12"%>
    </div>
   <% end %>
  </div>

 